@font-face {
    font-family: 'fontello';
    font-display: swap;
    src: local('fontello');
    /*src: url('../fonts/fontello.eot?79438795');
    src: url('../fonts/fontello.eot?79438795#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff2?79438795') format('woff2'),
         url('../fonts/fontello.woff?79438795') format('woff'),
         url('../fonts/fontello.ttf?79438795') format('truetype'),
         url('../fonts/fontello.svg?79438795#fontello') format('svg');*/
    src: url('../fonts/fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello.svg?79438795#fontello') format('svg');
    }
  }
  */
   
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-pencil:before { content: '\e800'; } /* '' */
  .icon-plus:before { content: '\e801'; } /* '' */
  .icon-twitter:before { content: '\f099'; } /* '' */
  .icon-github:before { content: '\f09b'; } /* '' */
  .icon-linkedin:before { content: '\f0e1'; } /* '' */
  .icon-instagram:before { content: '\f16d'; } /* '' */
  .icon-twitter-colored:before { content: '\f099'; color: sienna} /* '' */
  .icon-folder-open:before { content: '\e802'; color: sienna} /* '' */


  [class^="icon-"].circled {
    position: relative;
    display: inline-block;
    background: #fff;
    /*color: #fff;*/
    border-radius: 100%;
    width: 3em;
    height: 3em;
    line-height: 3.25em;
    text-align: center;
    font-size: 1.25em;
  }