{{ $p := .data }}
{{ $c := .context }}
{{ $isServer := .isServer }}
{{ $testProd := .testProd }}
{{ $uncss := .unCss }}
{{ $mediaPage := $c.Site.GetPage "page" "media/index.md"}}

	<!-- Footer -->
	{{ if eq $c.RelPermalink "/" }}
		<div id="footer">
			<div class="container">
				<div class="row">
					<!-- Tweets -->
						<section class="6u 12u(mobile)" id="twitter">
							<header>
								<h2 class="icon-twitter-colored circled"><span class="label">{{ $p.Params.miniprojects_title }}</span></h2>
							</header>
							<ul class="divided tweets">

							</ul>
						</section>

					<!-- Miniprojects -->
						<section class="6u 12u(mobile)" id="projects">
							<header>
								<a href="http://github.com/davidayalas" title="Mini projects, mini utilities"><h2 class="icon-folder-open circled"><span class="label">{{ $p.Params.miniprojects_title }}</span></h2></a>
							</header>
							<ul class="divided">
								{{ range $p.Params.miniprojects }}
								<li><article class="post stub"><header><h3><a href="{{ .link }}" class="notranslate">{{ .title }}</a></h3></header><p>{{ safeHTML (markdownify .description) }}</p></article></li>
								{{ end }}
							</ul>
							<footer>
								<a href="https://github.com/davidayalas?tab=repositories" class="button">More miniprojects</a>
							</footer>
						</section>
				</div>
			</div>
		</div>

	<!-- Main -->
		{{ if and (isset $p.Params "architecture_title") (ne (string $p.Params.architecture_title) "") }}
		<div class="style2" style="background: #ddd; padding-top:1em; padding-bottom:2em">
			<article id="architecture" class="container special">
				<header>
					<h2>{{ $p.Params.architecture_title }}</h2>
				</header>
				<img src="/images/1px.png" data-src="{{ $p.Params.architecture_diagram }}" class="diagram lozad" alt="architecture diagram" />
			</article>
		</div>
		{{ end }}
	{{ end }}

	{{ if eq $c.Permalink "/" }}
		<div class="contact style3">
			<div class="container" >
				<header>
					<h2>{{ $p.Params.contact_title }}</h2>
				</header>				
				<form action="/thanks" name="contact" class="10u 12u(mobile)" netlify>
					<div class="row">
						<div class="6u 12u(mobile)"><input type="text" name="name" placeholder="Name" required /></div>
						<div class="6u 12u(mobile)"><input type="email" name="email" placeholder="Email"  required /></div>
					</div>
					<div class="12u"><textarea name="message" placeholder="Message" required></textarea></div>
				    <div data-netlify-recaptcha></div>
					<div class="col-12">
						<ul class="actions special">
							<li><input type="submit" class="button" value="Send" /></li>
							<li><input type="reset" class="button alt" value="Reset" /></li>
						</ul>
					</div>
				</form>

			</div>
		</div>
	{{ end }}
		
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="12u">
						<!-- Copyright -->
							<div class="copyright">
								<span class="notranslate">Powered By: </span>
								<a href="http://gohugo.io/"><img src="/images/1px.png" data-src="/images/hugo.png" title="Hugo" alt="Hugo" class="ico lozad" /></a>
								<a href="https://www.netlify.com/"><img src="/images/1px.png" data-src="/images/netlify.ico" title="Netlify" alt="Netlify" class="ico lozad" /></a>
								<a href="https://github.com/"><img src="/images/1px.png" data-src="/images/github2.png" alt="Github" title="Github" class="ico lozad" /></a> 
								<a href="https://developers.google.com/apps-script/"><img src="/images/1px.png" data-src="/images/gas.png" title="Google Apps Script" alt="Google Apps Script" class="ico lozad" /></a>
								<br />
								Design: <a href="https://html5up.net/helios">HTML5 UP</a>
								<br />
								<a href="https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://www.davidayala.eu"><img src="/images/1px.png" data-src="/images/webdev.svg" title="Web.dev performance report" alt="Web.dev performance report" class="lozad webdev" /></a>

							</div>

						<!-- Edit -->
							<div class="pull-right editpage">
								{{ if eq $c.RelPermalink "/" }}
								<a href="/admin/#/collections/home/entries/home"><i class="icon-pencil" aria-hidden="true"></i> Edit this page</a> &nbsp;
								{{ end }}

								<a href="/admin/#/collections/gallery/new"><i class="icon-plus" aria-hidden="true"></i> Add new image</a>
							</div>
					</div>
				</div>
			</div>
		</div>
</div>


<!-- Scripts -->

{{if $p.Params.header}}
	{{ $image := $mediaPage.Resources.GetMatch (replace $p.Params.header "/media/" "") }}
	{{ $c.Scratch.Set "header" ($image.Resize (print $image.Width "x" $image.Height " q60")) }}
	{{ if gt $image.Width 1600 }}
		{{ $c.Scratch.Set "header" ($image.Resize "1600x q60") }}
	{{ end }}
{{end }}

<script>

	{{ if (eq .isServer true) }}
		function createCSS(pathCSS){
			var linkSS = document.createElement('link');
			linkSS.rel = 'stylesheet';
			linkSS.href = pathCSS;
			linkSS.type = 'text/css';
			var head = document.getElementsByTagName('head')[0];
			head.insertBefore(linkSS, head.childNodes[0]);		
		}
	
		createCSS("/assets/css/main.css");
		createCSS("/assets/css/fontello.css");
	{{ end }}
	
		var headerImage = '{{ ($c.Scratch.Get "header").RelPermalink }}';
		
	{{ if (eq .isServer false) }}
			var img = new Image();
			img.onload = function() {
				hasWebP = !!(img.height > 0 && img.width > 0);
				headerImage = headerImage + ".webp";
				var images = document.getElementsByTagName("img");
				var dataSrc = "";
				for (var i = 0, z=images.length; i<z; i++){
					dataSrc = images[i].getAttribute("data-src");
					 if(dataSrc.indexOf("/media/")>-1){
						images[i].setAttribute("data-src",dataSrc.slice(dataSrc.indexOf("/media/"))+".webp");
					 }
				}			
			};
			img.onerror = function() {
				hasWebP = false;
			};
			img.src = 'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=';
	{{ end }}
	
		var fontName = "fontello";
		var fontello = document.createElement('style');
		fontello.appendChild(document.createTextNode("\
			@font-face {\
				font-family: 'fontello';\
				font-display: swap;\
				src: local('fontello');\
				src: url('/assets/fonts/fontello.eot?79438795');\
				src: url('/assets/fonts/fontello.eot?79438795#iefix') format('embedded-opentype'),\
					url('/assets/fonts/fontello.woff2?79438795') format('woff2'),\
					url('/assets/fonts/fontello.woff?79438795') format('woff'),\
					url('/assets/fonts/fontello.ttf?79438795') format('truetype'),\
					url('/assets/fonts/fontello.svg?79438795#fontello') format('svg');\
				font-weight: normal;\
				font-style: normal;\
			}\
		"));
	
		document.head.appendChild(fontello);	
	
		{{ if not (eq $uncss true) }}
	
		window.onload = function(){
	
			/*var _font = new FontFace('fontello', 'url(/assets/fonts/fontello.woff2?79438795)');
			_font.load().then(function(loaded_face) {
				document.fonts.add(loaded_face);
			}).catch(function(error) {
			});*/
	
			$.getScript("/assets/js/lozad.min.js", function( data, textStatus, jqxhr ) {
				try{
					const observer = window.lozad();
					observer.observe();  
				}catch(e){}
			});
	
			var loadNetlifyWidget = false;
			if((new URLSearchParams(window.location.search)).get("netlify")==="true"){
				loadNetlifyWidget = true;
			}
	
			if(loadNetlifyWidget){
				$.getScript("https://identity.netlify.com/v1/netlify-identity-widget.js", function( data, textStatus, jqxhr ) {
					if (window.netlifyIdentity) {
						window.netlifyIdentity.on("init", user => {
							if (!user) {
								window.netlifyIdentity.on("login", () => {
									document.location.href = "/admin/#/collections/home/entries/home";
								});
							}
						});
					}			
				});
			}
		}
		{{ end }}
</script> 

<script src="/assets/js/jquery.min.js" defer></script>
<script src="/assets/js/util.js" defer></script>
<script src="/js/custom.js" defer></script>

