{{ $p := .data }}
{{ $c := .context }}
{{ $mediaPage := $c.Site.GetPage "page" "media/index.md" }}
{{ $isServer := .isServer }}

{{ partial "seo_schema" (dict "data" $p) }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title class="notranslate">{{ $p.Params.html_title }}</title>
<meta name="description" content="David Ayala - IT Architecture Manager" />
<meta name="keywords" content="{{ $p.Params.meta_keywords }}" />
<meta name="author" content="David Ayala" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
<meta name="theme-color" content="#1e90ff">
<link rel="icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/icon_192.png">
<link rel="manifest" href="/manifest.json">


<link rel="preload" href="/assets/fonts/inter-latin-v20.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/assets/fonts/fontello.woff2?79438795" as="font" type="font/woff2" crossorigin="anonymous" />

{{ if $p.Params.header }}
  {{ $image := $mediaPage.Resources.GetMatch (replace $p.Params.header "/media/" "") }}
  {{ $c.Scratch.Set "header" ($image.Resize (print $image.Width "x" $image.Height " q" $p.Params.header_quality)) }}
  {{ $c.Scratch.Set "header_mobile" ($image.Resize "700x q70") }}
  {{ if gt $image.Width 1600 }}
    {{ $c.Scratch.Set "header" ($image.Resize (print "1600x q" $p.Params.header_quality)) }}
  {{ end }}
{{ end }}

{{ if not $isServer }}
  {{ $fontello := resources.Get "css/fontello.css" | resources.Fingerprint }}
  <link rel="preload" href="{{ $fontello.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" />
  <noscript><link rel="stylesheet" href="{{ $fontello.Permalink }}" crossorigin="anonymous" /></noscript>
{{ else }}
  <link rel="stylesheet" href="/assets/css/fontello.css" />
{{ end }}

<style>{{ partial "critical-css.html" . | print | safeCSS }}</style>

{{ if not $isServer }}
  {{ $css := resources.Get "css/site.css" | resources.Fingerprint }}
  <link rel="preload" href="{{ $css.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous" />
  <noscript><link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous" /></noscript>
{{ else }}
  <link rel="stylesheet" href="/assets/css/site.css" />
{{ end }}

{{ if $p.Params.header }}
<link rel="preload" as="image" href="{{ ($c.Scratch.Get "header_mobile").RelPermalink }}" media="(max-width: 600px)" />
<link rel="preload" as="image" href="{{ ($c.Scratch.Get "header").RelPermalink }}" media="(min-width: 601px)" />
<style>
  #hero {
    background-image: url("{{ ($c.Scratch.Get "header").RelPermalink }}");
  }
  @media (max-width: 600px) {
    #hero { background-image: url("{{ ($c.Scratch.Get "header_mobile").RelPermalink }}"); }
  }
</style>
<script>
(function(){
  var img = new Image();
  img.onload = function(){
    var s = document.createElement('style');
    s.textContent = '#hero{background-image:url("{{ ($c.Scratch.Get "header").RelPermalink }}.webp")}'
      + '@media(max-width:600px){#hero{background-image:url("{{ ($c.Scratch.Get "header_mobile").RelPermalink }}.webp")}}';
    document.head.appendChild(s);
  };
  img.src = 'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=';
})();
</script>
{{ end }}
