{{ $p := .data }}
{{ $c := .context }}
{{ $mediaPage := $c.Site.GetPage "page" "media/index.md"}}
{{ $isServer := .isServer }}
{{ $section := .section }}
{{ $testProd := .testProd }}

		{{ partial "seo_schema" (dict "data" $p ) }}
		<title class="notranslate">{{ $p.Params.html_title }}</title>		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="David Ayala - IT Architecture Manager"  />
	    <meta name="keywords" content="{{ $p.Params.meta_keywords }}" />
	    <meta name="author" content="David Ayala" />
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
		
		<!--link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2" as="font" type="font/woff2" crossorigin="anonymous" /-->

		<link rel="preload" href="/assets/fonts/fontello.woff2?79438795" as="font" type="font/woff2" crossorigin="anonymous" />
		<!--link rel="preload" href="/assets/css/fontello.min.css" as="style" onload="this.rel='stylesheet'" crossorigin="anonymous" /-->
		{{ $fontello := resources.Get "css/fontello.css" | resources.Minify | resources.Fingerprint }}
		<link rel="preload" href="{{ $fontello.Permalink }}" as="style" onload="this.rel='stylesheet'" crossorigin="anonymous" />

		{{if $p.Params.header}}
			{{ $image := $mediaPage.Resources.GetMatch (replace $p.Params.header "/media/" "") }}
			{{ $c.Scratch.Set "header" ($image.Resize (print $image.Width "x" $image.Height " q" $p.Params.header_quality)) }}
			{{ $c.Scratch.Set "header_mobile" ($image.Resize (print "700x q70")) }}
			{{ if gt $image.Width 1600 }}
				{{ $c.Scratch.Set "header" ($image.Resize (print "1600x q" $p.Params.header_quality)) }}
			{{ end }}
		{{end }}
		
		<link rel="preload" href="{{ ($c.Scratch.Get "header").RelPermalink }}.webp" as="image" />
		<link rel="preload" href="{{ ($c.Scratch.Get "header_mobile").RelPermalink }}.webp" as="image" media="(max-width: 736px)" />

		<style>
			{{ partial "critical-css.html"  . | print | safeCSS }}
			#header.nowebp{background: url("{{ ($c.Scratch.Get "header").RelPermalink }}") no-repeat fixed center; background-size: cover;}
			#header.webp{background: url("{{ ($c.Scratch.Get "header").RelPermalink }}.webp") no-repeat fixed center; background-size: cover;}
			@media screen and (max-width: 736px) {
				#header.nowebp{background: url("{{ ($c.Scratch.Get "header_mobile").RelPermalink }}") no-repeat fixed center; background-size: cover;}
				#header.webp{background: url("{{ ($c.Scratch.Get "header_mobile").RelPermalink }}.webp") no-repeat fixed center; background-size: cover;}
			}
		</style>
