{{ $p := .data }}
{{ $isServer := .isServer }}

		{{ partial "seo_schema" (dict "data" $p ) }}
		<title class="notranslate">{{ $p.Title }}</title>		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="description" content="David Ayala - IT Architecture Manager"  />
	    <meta name="keywords" content="{{ $p.Params.meta_keywords }}" />
	    <meta name="author" content="David Ayala" />
    	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js" defer></script><![endif]-->

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600" media="all" defer />
		{{ if eq $isServer true }}
		<link rel="stylesheet" href="/assets/css/main.css" media="all" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" media="all" /><![endif]-->
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" media="all" />		
		{{ else }}
		<link rel="stylesheet" href="/assets/css/styles.css" media="all" defer />		
		{{ end }}
