{{ $data := .data }}
{{ $links := (len $data.Params.social) }}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "{{ $data.Title }}",
    "url": "https://davidayala.eu",
    "jobTitle": "IT Architecture Manager",
    "image": "https://pbs.twimg.com/profile_images/660879996852920320/j7WfXHTt_400x400.jpg",
    "sameAs": [
        {{ range $index, $el := $data.Params.social }}{{ if in .link "https" }}"{{.link}}"{{end}}{{ if lt (add $index 1) $links }},
        {{end}}{{end}}
    ]
    }
</script>